*{
  margin: 0;
  padding: 0;
}
            /* section part-1 */

.nav-main img{
 width: 130px;
 height: 80px;
}

.nav-main{
  width: 1140px;
  height: 70px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;

}

.nav-item{
  display: flex;
  list-style: none;
  gap: 30px;
  font-size: 20px;
  
   
}
.nav-item a{
  text-decoration: none;
   
}
.nav-item, .home{
  font-weight: bold;
  color: black;
}
.nav-item, .h-rd{
 color: #8987A1;
}
  .icon{
  color: #000000;
}

               /* section part-2 */
   
 .flowers{
  width: 1140px;
  height: 460px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 120px;
 }  
.flw h2{
   
  width: 570px;
  /* height: 178px; */
  font-size: 60px;
  font-weight: bold;
  padding-top:  162px;
}
.flw span{
  color:#E95A08 ;
}
.flw p{
  font-size: 20px;
  color: #8987A1;
  width: 570px;
  /* height: 108px; */
  padding-top: 13px;
}
.flowers img{
  width: 570px;
  height: 355px;
  padding-top: 55px;
}

            /* section part-3 */
 
.plant{
 width: 1140px;
 height: 130px;
 margin: 0 auto;
 text-align: center;
 margin-top: 80px;
}   

.plant h2{
  font-weight: bold;
  font-size: 50px;
}
.plant span{
  color: #E95A08;
}
.plant p{
  font-size: 20px;
  color: #8987A1;
  padding-top: 15px;
}

/* section part-4 */

.card-main{
  width: 1140px;
  /* height: 1185px; */
  margin: 0 auto;
  margin-top: 40px;
   
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.card{
  width: 270px;
  height: 484px;
  margin-top: 10px;
}
.card img{
  width: 270px;
  height: 320px;
}
.card p{
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  padding-top: 15px;

}
.card h2{
 text-align: center; 
 font-size: 22px;
 font-weight: bold;
 padding-top: 8px;
}
.card button{
   width: 270px;
   height: 50px;
   margin-top: 15px;
   font-size: 13px;
   background-color: #E95A08;
   color: aliceblue;
   border: 0
   
}

/* section part-5 */

.container {
  width: 1140px;
  height: 550px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 90px;
  margin-bottom: 20px;
}

.img-box {
  width: 540px;
  height: 100%;
  position: relative;
}

.main-img {
  width: 540px;
  height: 100%;
}

.badge {
  position: absolute;
  top: -80px;
  right: -70px;
  width: 200px;
  height: 200px;
  z-index: 10;
  box-shadow: #8987a1;
}

.content-box {
  width: 540px;
  height: 520px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content-box h2 {
  font-size: 50px;
  font-weight: bold;
  padding-left: 40px;
  color: #000000;
  margin-bottom: 20px;
}

.content-box ul {
  list-style-type: disc;
  padding-left: 80px;
  font-size: 22px;
  font-weight: 400;
  color: #8987A1;
  
}   


 


 



 
   


/* section part-6 */

.deals{
  width: 1440px;
  height: 138px;
  margin: 0 auto;
  text-align: center;
  margin-top: 130px;
}

.deals h2{
  font-size: 50px;
  font-weight: bold;
}
.deals span{
 color: #E95A08;
}
.deals p{
 font-size: 20px;
 color: #8987A1;
 padding-top: 16px;
}

 

/* section part-7 */

.join-bounch {
  width: 1400px;
  height: 500px;
  margin: 20px auto;
  background-image: url(../assets/news-letter-bg.png);
  height: 540px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.join-bounch h2 {
  font-size: 50px;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 20px;
}
.join-content input {
  background-color: #ffffff;
  width: 600px;
  height: 40px;
  /* outline: none; */
  border: 0;
}
  .btn {
  width: 180px;
  height: 40px;
  font-weight: 600;
  border: none;
  background-color:orangered;
  margin-left: -5px;
  
}


/* section part-8 */

footer {
  width: 1400px;
  height: 340px;
  margin: 10px auto;
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo-left {
  width: 360px;
  height: 180px;
}
.logo-left img {
  width: 135px;
  height: 80px;
  margin-bottom: 8px;
}
.paragraph{
  list-style: none;
  color: #8987A1;
  font-size: 16px;
   
}
.logo-right {
  width: 215px;
  height: 35px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: -200px;
}

 

 
