*{
  margin: 0;
  padding: 0;
}

.nav-main img{
 width: 130px;
 height: 80px;
}

.nav-main{
  width: 1140px;
  height: 70px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;

}

.nav-item{
  display: flex;
  list-style: none;
  gap: 30px;
  font-size: 20px;
  
   
}
.nav-item a{
  text-decoration: none;
   
}
.nav-item, .home{
  font-weight: bold;
  color: black;
}
.nav-item, .h-rd{
 color: #8987A1;
}
  .icon{
  color: #000000;
}
   
   
 
